

@media (min-width: 1200px) {
    #navbarMenu {
      display: none !important;
    }
  }

  html {
    font-size: 16px;
    }
    
    /**** Nav Style ***/
    
    .nav-link {
        color: black;
        font-weight: normal;
    }
    
    .nav-link:hover {
        color: #FFC107 !important;
        
    }

    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
        border: none;
        }

    
    #headshot {
      max-width: 300px;
      width: 100%;
    }
